/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
.donation2-wrapper {
	padding: 115px 43px 120px;
}
.volunteer2-text {
	padding: 174px 58px;
}
.volunteer2-text.volunteer4-text {
	padding: 0;
}
.frequently2-img img {
	width: 100%;
}
.project-text {
	padding: 30px 40px 30px 40px;
}
.project-img > a::before {
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
}
.events-circle::before {
	display: none;
}
.volunteer22.volunteer2-text {
	padding:0;
}
.volunteer-img img {
	width: 100%;
}














}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.donation2-wrapper {
	padding: 100px 30px 113px;
}
.volunteer2-text {
	padding: 174px 58px;
}
.volunteer22.volunteer2-text {
	padding:0;
}
.volunteer-text.volunteer2-text p{padding-right:0;}
.donation2-wrapper .donation-button button {
	padding: 15px 28px;
	margin: 0 3px;
}
.footer-wrapper {
	padding-left: 0;
}
.about-circle::before {
	display: none;
}
.about-circle::after {
	display: none;
}
.about-me-img img {
	width: 100%;
}
.about-me-wrapper {
	margin-left: 0;
}
.about-me-text p {
	padding-right: 0;
	margin-bottom: 30px;
}
.about-me-text h2 {
	padding-right: 0;
}
.features-info-bg {
	padding-left: 0;
}
.features-info-text p {
	padding-right: 0;
}
.footer-news-text h4 {
	padding-right: 0;
	font-size: 15px;
	line-height: 21px;
}
.footer-text h3 {
	padding-right: 0;
}
.events-count .time-count {
	padding: 0 30px;
}
.project-text {
	padding: 30px 30px 30px 30px;
}
.project-img > a::before {
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
}
.project-text h2 {
	font-size: 30px;
}
.video-img img {
	width: 100%;
}
.video-wrapper {
	padding-left: 0;
	margin-top: 0;
}
.video-text h1 {
	font-size: 35px;
	line-height: 40px;
}
.project-text {
	padding: 82px 70px 82px 70px;
}
.heading-padding {
	padding: 0 20px;
}
.events-circle::before {
	display: none;
}
.we-do-circle::before {
	display: none;
}
.we-do-circle::after {
	display: none;
}
.we-do-text p {
	padding-right: 0;
}
.team-text h3 {
	font-size: 25px;
}
.subscribe-wrapper {
	padding: 0 0;
}
.footer2-text p {
	padding: 0 0;
}
.about2-me-text {
	margin-top: 0;
}
.single2-about-me {
	padding-left: 0;
}
.video2-text p {
	padding-right: 0;
}
.political-bg {
	padding: 35px 20px;
}
.events-text p {
	padding: 0;
}
.events-list-wrapper {
	margin-left: 0;
	margin-top: 0;
}
.event-list-text p {
	padding-right: 0;
}
.event-details-info p {
	padding-left: 0;
	padding-right: 0;
}
.events2-details-info p {
	margin-right: 0;
}
.volunteer2-text.volunteer4-text {
	padding: 0;
}
.become-volunteer-img {
	margin-left: 0;
}
.become-volunteer-wrapper {
	padding-left: 0;
	padding-right: 0;
}
.become-volunteer-img img {
	width: 100%;
}
.issue-text {
	padding: 23px 15px 21px 15px;
}
.issue-icon {
	position: absolute;
	right: 15px;
}
.issue-text h3 {
	font-size: 20px;
}
.issue-details-wrapper {
	margin-left: 0;
}
.sidebar-rc-post .rc-post-content h4 {
	padding-right: 0;
}
.sidebar-tad {
	margin-right: 0;
}
.contact-wrapper {
	padding: 70px 30px 70px 30px;
	margin-right:0;
}
.contact22-wrapper {
	margin-right: 0;
}
.contact1-text p {
	padding-right: 0;
}
.donation-forms-wrapper {
	margin-top: 0;
}
.donation-forms-text h2 {
	font-size: 25px;
}
.donation-forms-meta {
	margin-bottom: 9px;
}
.progress {
	margin-bottom: 7px;
}
.donation-forms-text > p {
	line-height: 26px;
	font-size: 13px;
}
.donation-forms-text > a.btn {
	padding: 14px 36px;
	margin-top: 13px;
}
.donation-details-info {
	margin-left: 0;
	margin-right: 0;
}
.donation-details-content p {
	margin-right: 0;
}
.slider-content h1 {
	font-size: 100px;
	line-height: 100px;
}
.feature-content p {
	padding: 0 15px;
}
.feature-content {
	padding: 46px 0 39px 0;
}
.donation-area {
	background-position: 21%;
}
.donation-button button {
	padding: 15px 25px;
	margin-right: 5px;
}
input.cart-plus-minus-box {
	height: 21px;
	width: 32px;
}
.services-text p {
	font-size: 15px;
	padding: 0;
}
.event-text h2 {
	font-size: 24px;
}
.volunteer-text p {
	padding-right: 0;
}
.volunteer-area {
	background-position: 56%;
}
.testimonial-wrapper {
	padding: 0;
}
.blog-text h2 {
	font-size: 31px;
	line-height: 40px;
}
.project-text {
	padding: 30px 40px 30px 40px;
}
.project-img > a::before {
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
}
.black-menu .main-menu nav > ul > li {
	margin-left: 22px;
}
.sticky.black2-menu {
	padding: 0 20px 0 20px;
}
.breadcrumb-text > h1 {
	font-size: 95px;
	margin-bottom: 40px;
	line-height: 95px;
}
.about-me-content {
	margin-top: 0;
}
.about-me-content h1 {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 35px;
}
.breadcrumb-area {
	padding: 120px 0;
}






}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.donation2-wrapper {
	padding: 100px 46px 100px;
}
.volunteer2-text {
	padding: 116px 58px;
}

.donation2-wrapper .donation-button button {
	padding: 15px 28px;
	margin: 0 3px;
}
.latest-news-wrapper {
	padding: 50px 22px 55px;
}
.latest-news-text h4::before {
	left: -22px;
}
.footer-wrapper {
	padding-left: 0;
}
.video-img img {
	width: 100%;
}
.video-wrapper {
	padding-left: 0;
	margin-top: 0;
}
.about-me-content {
	margin-top: 0;
}
.video-text h1 {
	font-size: 35px;
	line-height: 40px;
}
.about-circle::before {
	display: none;
}
.about-circle::after {
	display: none;
}
.about-me-img img {
	width: 100%;
}
.about-me-wrapper {
	margin-left: 0;
}
.features-info-bg {
	padding-left: 0;
}
.features2-info-box {
	margin-top: -10px;
}
.features-info-text p {
	padding-right: 0;
}
.project-text {
	padding: 30px 35px 30px 35px;
}
.project-img > a::before {
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
}
.project-text h2 {
	font-size: 25px;
	margin-bottom: 3px;
}
.project-text span {
	font-size: 20px;
}
.about-me-text h2 {
	padding-right: 0;
}
.about-me-text p {
	padding-right: 0;
	margin-bottom: 30px;
}
.section-title h1 {
	font-size: 34px;
	line-height: 40px;
}
.section2-title h1 > span {
	font-size: 34px;
}
.copyright {
	text-align: center;
}
.footer-footer-link {
	text-align: center;
}
.footer-text h3 {
	padding-right: 0;
}
.footer-news-text h4 {
	padding-right: 0;
}
.heading-padding {
	padding: 0 20px;
}
.events-circle::before {
	display: none;
}
.we-do-circle::before {
	display: none;
}
.we-do-circle::after {
	display: none;
}
.we-do-text p {
	padding-right: 0;
}
.latest2-news-wrapper {
	padding: 0;
}
.latest2-news-wrapper .latest-news-text h4 {
	font-size: 20px;
	line-height: 30px;
}
.volunteer3-text {
	padding: 0;
}
.volunteer3-text {
	padding: 0 60px;
}
.about2-me-text {
	margin-top: 0;
}
.single2-about-me {
	padding-left: 0;
}
.video2-text p {
	padding-right: 0;
}
.political-bg {
	padding: 35px 20px;
}
.political-text h3 {
	font-size: 17px;
}
.breadcrumb-area {
	padding: 200px 0;
}
.breadcrumb-text > h1 {
	font-size: 80px;
	line-height: 83px;
	margin-bottom: 10px;
}
.events-text p {
	padding: 0;
}
.events-list-wrapper {
	margin-left: 0;
	margin-top: 25px;
}
.event-list-text p {
	padding-right: 0;
}
.event-details-info p {
	padding-left: 0;
	padding-right: 0;
}
.events2-details-info p {
	margin-right: 0;
}
.become-volunteer-img {
	margin-left: 0;
}
.become-volunteer-wrapper {
	padding-left: 0;
	padding-right: 0;
}
.become-volunteer-img img {
	width: 100%;
}
.become-volunteer-text h1 {
	font-size: 40px;
	padding-bottom: 25px;
	margin-bottom: 27px;
}
.issue-text {
	padding: 23px 15px 21px 15px;
}
.issue-icon {
	position: absolute;
	right: 15px;
}
.issue-text h3 {
	font-size: 20px;
}
.issue-details-wrapper {
	margin-left: 0;
}
.sidebar-rc-post .rc-post-content h4 {
	padding-right: 0;
}
.sidebar-tad {
	margin-right: 0;
}
.contact-wrapper {
	margin-right: 0;
}
.contact22-wrapper {
	margin-right: 0;
}
.contact1-text p {
	padding-right: 0;
}
.donation-details-info {
	margin-left: 0;
	margin-right: 0;
}
.donation-details-info {
	margin-left: 0;
	margin-right: 0;
}
.donation-details-content p {
	margin-right: 0;
}
.donation-details1-img {
	margin-right: 0;
}
.donation-details-content {
	margin-right: 0;
}
.slider-content h1 {
	font-size: 70px;
	line-height: 75px;
}
.slider-content p {
	padding-right: 53px;
}
.slider-height {
	min-height: 800px;
}
.feature-info p {
	padding: 0;
}
.donation-area {
	background-position: right;
}
.services-text p {
	padding: 0;
	margin-bottom: 0;
}
.testimonial-wrapper {
	padding: 0;
}
.blog-text {
	padding: 20px;

}
.blog-text h2 {
	font-size: 25px;
	line-height: 32px;
}
.feature-content {
	padding: 49px 0 36px 0;
}
.black-menu .mean-container a.meanmenu-reveal {
	border: 1px solid #000;
	color:#000;
}
.black-menu .mean-container a.meanmenu-reveal span {
	background: #000;
}
.black-menu .mean-container a.meanmenu-reveal {
	border: 1px solid #000;
	color:#000;
}
.black-menu .mean-container a.meanmenu-reveal span {
	background: #000;
}
.black2-menu .mean-container a.meanmenu-reveal {
	border: 1px solid #000;
	color: #000;
	margin-top: -34px;
}
.black2-menu .mean-container a.meanmenu-reveal span {
	background: #000;
}
.logo2 {
	margin-top: 21px;
}
.slider2-height {
	min-height: 650px;
}
.slider3-height {
	min-height: 700px;
}
.sticky.black2-menu {
	padding: 0 20px 0 20px;
}
.event-text {
	padding: 30px 30px 34px 30px;
}
.features-info-area {
	padding: 100px 0;
}
.breadcrumb-area {
	padding: 120px 0;
}
.sticky {
	padding: 0;
}
.event-text h2 {
	font-size: 25px;
}


}


/* small mobile :320px. */
@media (max-width: 767px) {

.donation2-wrapper {
	padding: 100px 20px 100px;
}
.volunteer2-text {
	padding: 116px 20px;
}
.donation2-wrapper .donation-button button {
	padding: 10px 14px;
	margin: 0 3px;
	margin-bottom:5px;
}
.footer-wrapper {
	padding-left: 0;
}
.copyright {
	text-align: center;
}
.footer-footer-link {
	text-align: center;
	margin-top: 10px;
}
.about-circle::before {
	display: none;
}
.about-circle::after {
	display: none;
}
.about-me-img img {
	width: 100%;
}
.about-me-wrapper {
	margin-left: 0;
}
.about-me-text h2 {
	font-size: 30px;
	padding-right: 0;
	line-height: 36px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.about-me-text p {
	padding-right: 0;
	margin-bottom: 30px;
}
.features-info-text h1 {
	font-size: 31px;
	line-height: 40px;
	margin-bottom: 30px;
}
.features-info-text p {
	padding-right: 0;
}
.features-info-bg {
	padding-left: 0;
}
.features2-info-box {
	margin-top: 0;
}
.video-img img {
	width: 100%;
}
.video-wrapper {
	padding-left: 0;
	margin-top: 0;
}
.section-title h1 {
	font-size: 28px;
	line-height: 34px;
}
.section2-title h1 > span {
	font-size: 28px;
}
.project-text {
	padding: 30px 30px 30px 30px;
}
.project-img > a::before {
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
}
.project-text h2 {
	font-size: 25px;
}
.project-text span {
	font-size: 20px;
}
.project-area {
	padding-left: 0;
	padding-right: 0;
}
.events-count .time-count {
	font-size: 50px;
	padding: 0 20px;
}
.time-count > span {
	font-size: 15px;
}
.upcomming-events-button {
	margin-top: 31px;
}
.footer-text h3 {
	padding-right: 0;
}
.footer-news-text h4 {
	padding-right: 0;
	font-size:15px;
}
.video-text h1 {
	font-size: 35px;
	line-height: 42px;
	padding-bottom: 35px;
}
.heading-padding {
	padding: 0 10px;
}
.events-circle::before {
	display: none;
}
.we-do-circle::before {
	display: none;
}
.we-do-circle::after {
	display: none;
}
.we-do-text p {
	padding-right: 0;
}
.team-text h3 {
	font-size: 23px;
}
.volunteer3-text {
	padding: 0 20px;
}
.latest2-news-wrapper .latest-news-text h4 {
	font-size: 20px;
	line-height: 30px;
}
.subscribe-title h1 {
	font-size: 27px;
	line-height: 36px;
	padding-bottom: 32px;
}
.subscribe-wrapper {
	padding: 0;
}

.subscribe-form form button {
	position: inherit;
	padding: 15px;
	margin-top: 17px;
}
.subscribe-text p {
	padding: 0;
}
.footer2-text p {
	padding: 0;
}
.single2-about-me {
	padding-left: 0;
}
.video2-text p {
	padding-right: 0;
}
.political-bg {
	padding: 25px 15px;
}
.breadcrumb-area {
	padding: 150px 0;
}
.breadcrumb-text > h1 {
	font-size: 33px;
	margin-bottom: 24px;
	line-height: 40px;
}
.breadcrumb-menu li a {
	font-size: 16px;
}
.breadcrumb-menu span {
	font-size: 16px;
}
.breadcrumb-menu li {
	padding: 0 20px;
}
.breadcrumb-menu li::before {
	top: 3px;
	font-size: 14px;
}
.events-text p {
	padding: 0;
}
.events-list-wrapper {
	margin-left: 0;
	margin-top: 25px;
}
.event-list-text p {
	padding-right: 0;
}
.event-details-info p {
	padding-left: 0;
	padding-right: 0;
}
.events2-details-info p {
	margin-right: 0;
}
.events2-details-button a.btn {
	margin-top: 5px;
}
.volunteer3-circle::before {
	display: none;
}
.volunteer2-text.volunteer4-text {
	padding: 0 10px;
}
.become-volunteer-img {
	margin-left: 0;
	padding-top: 0;
}
.become-volunteer-wrapper {
	padding-left: 0;
	padding-right: 0;
	margin-top: 20px;
}
.become-volunteer-img img {
	width: 100%;
}
.become-volunteer-text h1 {
	font-size: 33px;
	line-height: 35px;
	padding-bottom: 26px;
	margin-bottom: 22px;
}
.issue-text {
	padding: 23px 15px 21px 15px;
}
.issue-icon {
	position: absolute;
	right: 15px;
}
.issue-text h3 {
	font-size: 20px;
}
.issue-details-wrapper {
	margin-left: 0;
}
.frequently2-img img {
	width: 100%;
}
.question-collapse .card-body {
	padding: 0;
}
.sidebar-rc-post .rc-post-content h4 {
	padding-right: 0;
}
.sidebar-tad {
	margin-right: 0;
}
.latest-news-text p {
	padding-right: 0;
}
.blog-details-info {
	padding: 58px 10px 58px 10px;
}
.blog-details-info::before {
	display: none;
}
.blog-details-info h3 {
	font-size: 24px;
	line-height: 39px;
}
.details-next-text {
	float: none;
}
.author {
	padding: 45px 20px 43px 20px;
}
.author-img {
	float: none;
	margin-right: 0;
	margin-bottom: 15px;
}
.comments-text {
	padding-left: 0;
}
.comments-avatar {
	float: none;
	margin-bottom: 10px;
}
.comments-reply {
	padding-left: 0;
}
.comments-text > p {
	padding-right: 0;
}
.contact-wrapper {
	padding: 70px 30px 70px 30px;
	margin-right:0;
}
.contact2-wrapper {
	border: 10px solid #e9e9e9;
	padding: 70px 30px 69px 30px;
}
.contact-title {
	font-size: 36px;
}
.contact22-wrapper {
	margin-right: 0;
}
.contact1-text p {
	padding-right: 0;
}
.contact1-link li {
	font-size: 20px;
	line-height: 30px;
}
.donation-details-info {
	margin-left: 0;
	margin-right: 0;
}
.donation-details-info {
	margin-left: 0;
	margin-right: 0;
}
.donation-details-content p {
	margin-right: 0;
}
.donation-details1-img {
	margin-right: 0;
}
.donation-details-content {
	margin-right: 0;
}
.donation-details-text p {
	padding-right: 0;
}
.donation-details-info h1 {
	font-size: 36px;
	line-height: 36px;
}
.slider-content h1 {
	font-size: 40px;
	line-height: 44px;
}
.slider-content p {
	padding-right: 0;
}
.slider-height {
	min-height: 739px;
}
.slider-content a {
	margin-top: 30px;
}
.feature-content p {
	padding: 0 15px;
}
.feature-content {
	padding: 46px 0 39px 0;
}
.donation-area {
	background-position: right;
}
.feature-info p {
	padding: 0;
}
.testimonial-wrapper {
	padding: 0 15px;
}
.testimonial-active .owl-nav div {
	display: none;
}
.testimonial-text p {
	font-size: 20px;
	line-height: 33px;
}
.blog-text {
	padding: 20px;

}
.blog-text h2 {
	font-size: 21px;
	line-height: 29px;
}
.event-bg {
	padding: 0;
}
.event-text {
	padding: 30px 30px 30px 30px;
}
.event-text h2 {
	font-size: 26px;
}
.services-text p {
	font-size: 15px;
	padding: 0;
}
.donation-text h1 {
	font-size: 35px;
	line-height: 44px;
	padding-bottom: 36px;
	margin-bottom: 36px;
}
.donation-button button {
	padding: 12px 17px;
	margin-right: 10px;
}
.donation-button button {
	margin-bottom: 10px;
}
.cart-plus-minus {
	padding: 10px 0 10px 43px;
}
.black-menu .mean-container a.meanmenu-reveal {
	border: 1px solid #000;
	color:#000;
}
.black-menu .mean-container a.meanmenu-reveal span {
	background: #000;
}
.black2-menu .mean-container a.meanmenu-reveal {
	border: 1px solid #000;
	color: #000;
	margin-top: -34px;
}
.black2-menu .mean-container a.meanmenu-reveal span {
	background: #000;
}
.logo2 {
	margin-top: 21px;
}
.slider2-height {
	min-height: 650px;
}
.visited-country-wrapper {
	border-bottom: 1px solid #e9e9e9;
}
.country-bg .col-xl-4:last-child .visited-country-wrapper{border-bottom:0;}
.header-wrapper {
	text-align: center;
}
.header-text span {
	margin-right: 8px;
}
.slider3-height {
	min-height: 600px;
}
.sticky.black2-menu {
	padding: 0 10px 0 10px;
}
.we-do-active .owl-dots {
	display: none;
}
.error-text h1 {
	font-size: 77px;
	line-height: 80px;
}

.error-text h2 {
	font-size: 31px;
	color: #fff;
	margin-bottom: 39px;
}
.portfolio-menu button {
	font-size: 20px;
	padding: 0 11px;
}
.testimonial-content h3 {
	font-size: 20px;
}
.about-me-content h1 {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 39px;
}
.about-me-content {
	margin-top: 0;
}
.volunteer-img img {
	margin-top: 0;
	width: 100%;
}
.features-info-area {
	padding: 100px 0;
}
.question-collapse .card .card-header .btn-link::before {
	display: none;
}
.question-collapse .card .card-header h5 .btn-link {
	padding-left: 0;
	line-height: 1.3;
	font-size: 18px;
}
.modal {
	margin-left: 15px;
}
.sticky {
	padding: 0;
}
.events-count .time-count {
	font-size: 24px;
	padding: 0;
	margin: 0 10px;
	margin-bottom: 15px;
}
.we-do-area.we-do-circle.pt-110.pb-200 {
	padding-bottom: 120px;
}


}

/* Large Mobile :480px. */
@media only screen and (min-width: 550px) and (max-width: 767px) {

.feature-content {
	padding: 55px 0 60px 0;
}
.feature-content p {
	padding: 0 25px;
}









}
