{% extends 'base.html' %}
{% block content %}
    <br>
    <h2 class="text-center">Registration form</h2>
    <hr>
    <div class="row">
        {% if messages %}
        <h4>Please resolve these issues</h4>
        {% endif %}

        <ul>
            {% for message in messages %}
            <li style="color:red">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    <form action="register" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="firstName3" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" name="firstname" class="form-control" id="firstName3" placeholder="First Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName3" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" name="lastname" class="form-control" id="lastName3" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputUserName3" class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="inputUserName3" placeholder="User Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputConPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
                <input type="password" name="con_password" class="form-control" id="inputConPassword3"
                       placeholder="Confirm Password">
            </div>
        </div>
        <!--  <fieldset class="form-group">-->
        <!--    <div class="row">-->
        <!--      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>-->
        <!--      <div class="col-sm-10">-->
        <!--        <div class="form-check">-->
        <!--          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>-->
        <!--          <label class="form-check-label" for="gridRadios1">-->
        <!--            First radio-->
        <!--          </label>-->
        <!--        </div>-->
        <!--        <div class="form-check">-->
        <!--          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">-->
        <!--          <label class="form-check-label" for="gridRadios2">-->
        <!--            Second radio-->
        <!--          </label>-->
        <!--        </div>-->
        <!--        <div class="form-check disabled">-->
        <!--          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>-->
        <!--          <label class="form-check-label" for="gridRadios3">-->
        <!--            Third disabled radio-->
        <!--          </label>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--  </fieldset>-->
        <!--  <div class="form-group row">-->
        <!--    <div class="col-sm-2">Checkbox</div>-->
        <!--    <div class="col-sm-10">-->
        <!--      <div class="form-check">-->
        <!--        <input class="form-check-input" type="checkbox" id="gridCheck1">-->
        <!--        <label class="form-check-label" for="gridCheck1">-->
        <!--          Example checkbox-->
        <!--        </label>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--  </div>-->
        <div class="form-group row">
            <div class="col-sm-10 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
